<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Online Bank</title>
	<link rel="stylesheet" href="/css/transactions.css" />
</head>

<body>
	<h2>Transaction History</h2>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="transaction : ${transactions}" th:inline="text">
				<td><a th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}">[[${transaction.id}]]</a></td>
				<td>[[${transaction.date}]]</td>
				<td>[[${transaction.retailer}]]</td>
				<td>
					<span th:if="${transaction.type =='C'}">[[${transaction.amount}]]</span> 
					<span th:unless="${transaction.type =='D'}"></span>
				</td> 
				<td>
					<span th:if="${transaction.type =='D'}">[[${transaction.amount}]]</span>
					<span th:unless="${transaction.type =='C'}"></span> 
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>